.carrinho {
    background: url(../img/carrinho.png) no-repeat top right;
    background-size: contain;
    font-size: 14px;
    padding-top: 5px;
    padding-right: 50px;
    text-align: right;
    width: 140px;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-opcoes ul {
    font-size: 15px;
}

.menu-opcoes a {
    color: #003366;
}

.menu-opcoes a:hover {
    color: #007dc6;   
}

.menu-opcoes a:active {
    color: #867dc6;   
}


body {
    color: #333333;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px
}

.img_logo {
    width: 20%;
    height: 20%;
}

header {
    position: relative;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}

.container {
    margin: 100px auto;
    width: 940px;
    background-color: aqua;

}
.busca { 
    border-top-left-radius: 4px;
     border-top-right-radius: 4px;
} 


.busca,
.menu-conteudo {
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
    float: left;
    font-size: 30px;
}

.busca h2,
.busca form,
.menu-conteudo h2 {
    margin: 10px;
}

.menu-conteudo li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-conteudo a {
    color: #333333;
    text-decoration: none;
}

.menu-conteudo {
    clear: left;
    margin-top: 10px;
 padding-bottom: 10px; 
}

.menu-conteudo li ul {
    display: none;
} 
.menu-conteudo li:hover ul {
   display: block; 
} 
.menu-conteudo ul ul li {
    background-color: #dcdcdc;
}
.menu-conteudo li li a:before {
    content: '- ';
}
.busca input {
    vertical-align: middle;
}

.busca input[type=search] {
    width: 170px;
}

.destaque { 
    margin-top: 10px; 
} 

.lupa{
    width: 20px;
}

.painel {
    margin: 10px 0;
    padding: 10px;
    width: 35%; 
    border-radius: 4px; box-shadow: 1px 1px 4px #999;
    box-shadow: inset 1px 1px 4px #999;

}

.aula1 {
    float: left;
    background-color: #f5dcdc;
    background: linear-gradient(#f5dcdc, #bebef4);
}

.aula2 {
    float: right; 
    background-color: #dcdcf5;
    background: linear-gradient(#dcdcf5, #f4bebe);
}
.aula3 {
    float: right; 
    background-color: #dcdcf5;
    background: linear-gradient(#796464, #b45c5c);
}
.aula4 {
    float: right; 
    background-color: #dcdcf5;
    background: linear-gradient(#afa9a9, #59c53e);
}

.painel li { 
    display: inline-block; 
    vertical-align: top; 
    width: 140px; 
    margin: 2px; 
    padding-bottom: 10px;
}

.painel li:hover{
    background-color: rgba(255,255,255,0.8);
    box-shadow: 005px #333;
    transition: 0.7s;
    transform: scale(1.2);
    transform: scale(1.2) rotate(-5deg);
}

.painel h2 {
     font-size: 24px; 
     font-weight: bold; 
     text-transform: uppercase; margin-bottom: 10px; 
     text-shadow: 1px 1px 2px rgba(255,255,255,0.8);
 } 

.painel a { color: #333; 
    font-size: 23px; 
    text-align: center; 
    text-decoration: none; 
}

.logoRodape{
    width: 5%;
    height: 20%;
   }

footer{
    background-image: url(../img/fundoCinzaa.jpg);
    background-size: 50%;
    clear: both;
    padding: 23px 0;
}

.social a{
    height: 30px;
    width: 30px;
    display: block;
    text-indent: -9999px;
}

.social a[href*="instagram.com"]{
    background-image: url(../img/instagram.png);
    background-size: contain;
}

.social a[href*="facebook.com"]{
    background-image: url(../img/facebook.png);
    background-size: contain;
}

.social a[href*="tesla.com"]{
    background-image: url(../img/google.png);
    background-size: contain;
}

footer .container{
    position: relative;
}

.social{
    position: absolute;
    top: 12px;
    right: 12px;
    
}

.social li{
    float: left;
    margin-left: 25px;
}

.logoRodape{
    height: 50px;
    width: 50px;
}