body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../img/atencao.png') no-repeat center center fixed;
    background-size: cover;
}

#polygonal-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* Garante que os elementos de fundo não sejam clicáveis */
}
