body{
    font-family: 'Sedgwick Ave', cursive;
    width: 99%;
}

.container{
    display: flex;
    height: 600px;
}

.esquerdo{
    background-color: rgb(255, 99, 71);
    padding: 10px;
    padding-top: 0%;
    width: 40%;
    height: 590px; 
}

.direito{
    background-color: rgb(255, 255, 255);
}

.section-right img{
    width: 400px;
    height: 420px;
    margin-left: 10px;
}

h1{
    color: yellow;
    font-size: 42px;
}

p{
    color: black;
    font-size: 22px;
}

#tabela {
    font-size: 1.05em;
    border-spacing: 5px;
}

.right-section table {
    width: 130%;
    height: 30%;
}

th {
    border-bottom: 1.5px solid grey;
}

td {
    border-bottom: 1.5px solid grey;
}

th {
    text-align: right;
}

td {
    text-align: left;
}

footer {
    margin-top: -15px;
    color: grey;
    margin-right: 350px;
}